.spiner-box{
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.spiner-primary{
    width :5rem !important;
    height: 5rem !important;
}